@font-face {
  font-family: 'Titillium Web';
  src: url('../fonts/TitilliumWeb-SemiBold.ttf');
}

body {
  font-family: 'Titillium Web', sans-serif;
  display: flex;
  flex-direction: column;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1{
  color: #f30707;
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}

h2{
color: #93005a;
font-size: 2rem;
margin-bottom: 1rem;
}

p{
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 1.5rem;

}

#root {
  width: 100%;
  overflow-y: auto;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

header, footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}
section {
  padding: 1rem;
}
